# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and VS Code
.vscode/
.idea/

# Logs
logs/
*.log

# N8N and Node
node_modules/
n8n_data/
